In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('C:/Users/Daisy/Documents/PyTest/test/COL_v0.xlsx')
data.head(2)

  Flag Region  H0  H1  H2  H3
0  max      A   0   1   2   3
1  min      B   4   5   6   7

In [3]:
data = data.set_index(['Flag','Region'])
data=data.stack()

In [4]:
data.index=data.index.rename('Time',level=2)

data.name='value'

data=data.reset_index()
data.head(10)

  Flag Region Time  value
0  max      A   H0      0
1  max      A   H1      1
2  max      A   H2      2
3  max      A   H3      3
4  min      B   H0      4
5  min      B   H1      5
6  min      B   H2      6
7  min      B   H3      7